.about-grid-sec{
	padding-top: 40px;
}
.about-grid-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.about-grid-img{
	width: 50%;
}
.about-grid-img img{
	width: 100%;
}
.about-grid-desc-cntlr{
	width: 50%;
	padding-right: 87px;
	padding-left: 75px;
	display: flex;
	align-items: center;

}
.about-grid-desc{
	max-width: 340px;
	width: 100%;
}
.about-grid-desc-title{
	font-family: SimplerPro_V3;
	font-size: 2.142em;
	font-weight: 900;
	margin-bottom: 15px;
}
.about-grid-desc-cntlr p{
	margin-bottom: 20px;
	font-family: SimplerPro_V3;
}
.about-grid-desc-sub-title{
	font-family: SimplerPro_V3;
	font-size: 1em;
	font-weight: 900;
	line-height: 1.43;
	margin-bottom: 6px;
}
.about-grid-desc-pnmb  p{
	margin-bottom: 0;
}
.about-grd-desc-link{
	margin-top: 20px;
	margin-bottom: 15px;
}
.about-grd-desc-link > ul > li > a,
.about-grid-desc a{
	display: inline-block;
	font-family: SimplerPro_V3;
	color: #000000;
	line-height: 1.2;
	border-bottom: 1px solid #000000;
}
.about-grd-desc-link > ul > li > a:hover,
.about-grid-desc a:hover{
	color: #f2cdb0;
}
.about-grid-lft-img-rt-desc .about-grid-img{
	order: 2;
}
.about-grid-lft-img-rt-desc .about-grid-desc-cntlr{
	order: 1;
}

.about-link-sec{

}
.about-link-inr{
	text-align: center;
	padding: 30px 30px;
}
.about-link-title{
	font-family: SimplerPro_V3;
	font-size: 2.142em;
	font-weight: 900;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.about-link-cntlr{

}
.about-link-cntlr > ul > li{
	padding: 5px 0;
}
.about-link-cntlr > ul > li > a{
	display: inline-block;
	font-family: 'Palatino-Italic';
	line-height: 1.2;
	color: #000000;
	text-decoration: underline;
}
.about-link-cntlr > ul > li > a:hover{
	color: #f2cdb0;
}






@media(min-width: 1600px){
	.about-grid-desc{
		max-width: 400px;
	}
}

@media(min-width: 1768px){
	.about-grid-desc{
		max-width: 470px;
	}
}
@media(max-width: 1600px){
	.about-grid-desc{
		max-width: 280px;
	}
}
@media(max-width: 1199px){
	.about-grid-desc-cntlr{
		
	}
}
@media(max-width: 991px){
	.about-grid-desc-cntlr{
		padding-right: 60px;
		padding-left: 70px;
	}
	.about-grid-sec{
		padding-top: 30px;
	}
}
@media(max-width: 767px){
	.about-grid-sec{
		padding-top: 20px;
	}
	.about-grid-img{
		width: 100%;
		margin-bottom: 15px;
	}
	.about-grid-desc-cntlr{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.about-grid-desc{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding: 15px 0;
	}
	.about-grid-lft-img-rt-desc .about-grid-img{
		order: initial;
	}
	.about-grid-lft-img-rt-desc .about-grid-desc-cntlr{
		order: initial;
	}
}
@media(max-width: 639px){

}
@media(max-width: 575px){
	.about-grid-sec{
		padding-top: 10px;
	}
	.about-grid-desc-title{
		font-size: 1.8em;
	}
	.about-link-title{
		font-size: 1.8em;

	}
}
@media(max-width: 479px){

}