.ks-blog-pst-cont{
	padding-top: 100px;
	padding-bottom: 60px;
}

.ks-blog-pst-cont-entry-hdr{
	padding-bottom: 30px;
}
.ks-bpceh-title{
	display: block;
	font-size: 2.1428em;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
}
.ks-bpc-des-rgt{
	float: right;
	width: 32.2751%;
}
.ks-bpc-des-lft{
	float: left;
	width: 67.7248%;
	padding-right: 90px;
}

.ks-bpc-des-rgt-top{
	padding-bottom: 175px;
}
.ks-bpc-des-rgt-mdl{
	padding-bottom: 150px;
}
.ks-bpc-des-rgt{
	padding-top: 40px;
	padding-bottom: 150px;
	position: relative;
}
.ks-bpc-des-rgt-btm{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	text-align: center;
}

.ks-bpc-des-rgt-top img,
.ks-bpc-des-rgt-mdl img{
	width: 100%;
}


.ks-bpc-des-rgt-btm-title{
	display: block;
	font-size: 1.4285em;
	line-height: 1.2;
	margin-bottom: 15px;
}

.ks-bpc-des-rgt-btm ul li{
	padding-left: 8px;
}
.ks-bpc-des-rgt-btm ul li a{
	display: inline-block;
	vertical-align: baseline;
	line-height: 1.2;
	color: #000;
	border-bottom: 1px solid #000;
}
.ks-bpc-des-rgt-btm ul li a:hover{
	color: #f2cdb0;
}


.ks-bpc-des-lft span{
	display: block;
	font-family: 'Palatino-Italic';
	margin-bottom: 10px;
}

.ks-bpc-des-lft-title{
	display: block;
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 10px;
	font-weight: 900;
}


.ks-blog-post-lftdes-rgtimg-sec-inr,
.ks-blog-post-lftimg-rgtdes-sec-inr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ks-blog-post-rgtimg{
	order: 1;
	width: 50%;
}
.ks-blog-post-lfrdes{
	order: 2;
	width: 50%;
	padding-right: 80px;
}
.ks-blog-post-rgtimg img,
.ks-blog-post-lftimg img{
	width: 100%;
}

.ks-blog-post-lfrdes p,
.ks-blog-post-rgt-des p{
	font-size: 1.4285em;
	margin-bottom: 0;
}
.ks-blog-post-rgt-des{
	order: 1;
	width: 50%;
	padding-right: 80px;
}
.ks-blog-post-lftimg{
	order: 2;
	width: 50%;
}
.ks-blog-post-lftimg-rgtdes-sec{
	padding-bottom: 30px;
}





@media(max-width:1699px){
	
}

@media(max-width: 1599px){
	.ks-bpc-des-lft p{
		font-size: 16px;
	}
}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	
}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ks-blog-pst-cont {
	    padding-top: 70px;
	}
	.ks-bpceh-title{
		font-size: 1.2857em;
	}
	.ks-bpc-des-rgt{
		width: 100%;
		margin-bottom: 30px;
		padding-top: 0;
	}
	.ks-bpc-des-lft{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.ks-bpc-des-rgt-btm-title{
		font-size: 1.2857em;
	}
	.ks-blog-post-lfrdes{
		padding-right: 30px;
	}
	.ks-blog-post-lfrdes p, 
	.ks-blog-post-rgt-des p {
	    font-size: 1.2857em;
	}
	.ks-blog-post-rgt-des {
	    padding-right: 30px;
	}
	.ks-bpc-des-rgt{
		padding-bottom: 0;
	}
	.ks-bpc-des-rgt-btm{
		position: static;
		left: none;
		transform: translateY(0);
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.ks-blog-pst-cont {
	    padding-top: 45px;
	    padding-bottom: 40px;
	}
	.ks-blog-post-lftdes-rgtimg-sec-inr, 
	.ks-blog-post-lftimg-rgtdes-sec-inr{
		display: initial;
	}
	.ks-blog-post-rgtimg{
		width: 100%;
		margin-bottom: 30px;
	}
	.ks-blog-post-lfrdes,
	.ks-blog-post-rgt-des{
		width: 100%;
		padding-right: 0;
	}
	.ks-blog-post-lftimg{
		width: 100%;
	}
	.ks-blog-post-lfrdes p br, 
	.ks-blog-post-rgt-des p br{
		display: none;
	}
	.ks-blog-post-lftimg-rgtdes-sec{
		padding-top: 30px;
	}
	.ks-blog-post-lftimg{
		margin-bottom: 30px;
	}
	.ks-bpc-des-ctlr {
	    min-height: 160px;
	}
	.ks-bpc-des-rgt-top {
	    padding-bottom: 140px;
	}
	.ks-bpc-des-rgt-mdl {
	    padding-bottom: 110px;
	}

	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ks-blog-post-lfrdes p, 
	.ks-blog-post-rgt-des p {
	    font-size: 1.1428em;
	}
	.ks-blog-pst-cont-entry-hdr {
	    padding-bottom: 10px;
	}
	.ks-bpc-des-rgt-top {
	    padding-bottom: 80px;
	}
	.ks-bpc-des-rgt-mdl {
	    padding-bottom: 60px;
	}
	

}

@media(max-width: 479px){
	.ks-bpc-des-rgt-top {
	    padding-bottom: 50px;
	}
	.ks-bpc-des-rgt-mdl {
	    padding-bottom: 20px;
	}

}

@media(max-width: 359px){

}