/*
-------------------------
ks-blog-grid-item-sec-wrp
-------------------------
*/
.ks-blog-grid-item-sec-wrp{
	padding-top: 70px;
	padding-bottom: 60px;
}
.ks-blog-grid-item-wrp ul{
	margin: 0 -15px;
}
.ks-blog-grid-item-wrp ul li{
	float: right;
	width: 50%;
	padding: 0 15px 30px;
}
.ks-blog-grid-item-wrp ul li:nth-child(2n+1){
	clear: left;
}
.ks-blog-grid-item-ctlr{
	margin: 0 -15px;
	padding-bottom: 30px;
}
.ks-blog-grid-item{
	width: 50%;
	float: right;
	padding: 0 15px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ks-blog-grid-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.ks-blog-grid-item-img{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ks-blog-grid-item-img img{
	width: 100%;
}
.ks-blog-grid-item-dsc{
	text-align: center;
	background: #FFF5EA;
	padding: 30px 10px 35px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
} 
.ks-blog-grid-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 1em;
	line-height: 16px;
	color: #000;
	font-family: 'Simpler';
	padding-bottom: 15px;
}
.ks-blog-grid-item-title{
	display: block;
	font-size: 1.428em;
	line-height: 1;
	font-family: 'Simpler';
	font-style: normal;
	color: #000000;
	margin-bottom: 0;
}
.ks-blog-grid-item-title a{
	text-decoration: none;
	display: inline-block;
	vertical-align: baseline;
	color: inherit;
}
.ks-loadmore-btn a:hover,
.ks-blog-grid-item-title:hover a{
	color: #ff0000;
}
.ks-blog-grid-item-dsc .blog-excerpt{
	padding-top: 30px;
	height: 30px;
	overflow: hidden;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ks-blog-grid-item-dsc p{
	font-family: 'Simpler';
	font-style: normal;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.5;
	display: none;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ks-blog-grid-item:hover .ks-blog-grid-item-dsc p{
	opacity: 1;
	display: block;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ks-loadmore-btn{
	text-align: center;
	padding-top: 30px;
}
.ks-loadmore-btn a{
    display: inline-block;
    font-size: 1em;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0;
    border-bottom: 1px solid #000000;
    font-family: 'Simpler';
}
.ks-loadmore-btn a:hover{
	color: #ff0000;
	border-color: #ff0000;
}
.ks-blog-video-grid-sec-wrp .ks-loadmore-btn a{
	line-height: 16px;
}

/*
-----------------
 Blog Video
-----------------
*/
.ks-blog-video-grid-sec-wrp{
	padding-top: 20px;
	padding-bottom: 30px;
}
.ks-blog-video-grid-sec-wrp .ks-loadmore-btn{
    padding-top: 10px;
}
.ks-blog-video-grid-wrp ul{
	margin: 0 -8px;
}
.ks-blog-video-grid-wrp ul li{
	width: 50%;
	float: right;
	padding: 0 8px 15px;
}
.ks-blog-video-grid-wrp ul li:nth-child(2n+1){
	clear: left;
}
.ks-blog-video-grid-img-ctlr{
	position: relative;
	overflow: hidden;
}
.ks-blog-video-grid-img{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ks-blog-video-grid-img img{
	width: 100%;
}
.ks-blog-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.ks-blog-video-grid:hover .ks-blog-video-play-cntlr{
	opacity: 1;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ks-blog-video-grid-dsc{
	background: #fff5ea;
	padding: 25px 10px 10px 10px;
}
.ks-blog-vd-grid-title{
	display: block;
	line-height: 1;
	color: #000000;
	font-family: 'Simpler';
	margin-bottom: 0;
	text-align: center;
	font-style: normal;
}
.ks-blog-vd-grid-title a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.ks-blog-vd-grid-title:hover a{
	color: #ff0000;
}

/*
-------------------
 Success Css
-------------------
*/
.ks-success-banner-sec-wrp{
	padding-top: 10px;
}
.ks-success-banner img{
	width: 100%;
}
.ks-success-gift-dsc-sec-wrp{
	padding-top: 60px;
	padding-bottom: 40px;
}
.ks-success-gift-dsc{
	text-align: center;
}
.ks-success-gift-dsc-title{
	display: block;
	font-size: 2.1428em;
	line-height: 1;
	color: #000000;
	margin-bottom: 5px;
	font-style: normal;
	font-family: 'Simpler';
}
.ks-success-gift-dsc p{
	margin-bottom: 35px;
}

/*
----------------
 Responsive Css
----------------
*/

@media(max-width: 1199px){
	.ks-blog-grid-item-dsc p br{
		display: none;
	}
}

@media(max-width: 991px){
}

@media(max-width: 767px){
	.ks-blog-grid-item-ctlr {
	    margin: 0;
	    padding-bottom: 0;
	}
	.ks-blog-grid-item {
	    width: 100%;
	    padding: 0;
	    padding-bottom: 25px;
	}
	.ks-blog-grid-item-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.ks-loadmore-btn {
	    padding-top: 10px;
	}
	.ks-blog-video-grid-wrp ul {
	    margin: 0;
	}
	.ks-blog-video-grid-wrp ul li {
	    width: 100%;
	    padding: 0 0 15px;
	}
	.ks-blog-video-grid-wrp ul li:nth-child(2n+1){
		clear: none;
	}
	.ks-success-gift-dsc {
	    padding: 0 10px;
	}
	.ks-success-gift-dsc-sec-wrp {
	    padding-top: 50px;
	}
	.ks-success-gift-dsc p {
	    margin-bottom: 25px;
	}
	.ks-blog-grid-item-dsc p{
		display: block;
	}
	.ks-blog-grid-item-dsc{
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media(max-width: 575px){
	.ks-success-gift-dsc-title{
		font-size: 2em;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}
