.ks-blog-pst-cont{
	padding-top: 100px;
}

.ks-bpceh-title{
	display: block;
	font-size: 2.1428em;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
}
.ks-bpc-des-rgt{
	float: right;
	width: 31.9371%;
}
.ks-bpc-des-lft{
	float: left;
	width:  68.0628%;
	padding-right: 180px;
}

.ks-bpc-des-rgt-top{
	margin-bottom: 350px;
}
.ks-bpc-des-rgt-mdl{
	margin-bottom: 290px;
}
.ks-bpc-des-rgt-btm{
	margin-bottom: 75px;
}
.ks-bpc-des-rgt-top img,
.ks-bpc-des-rgt-mdl img{
	width: 100%;
}

.ks-bpc-des-rgt-btm{
	text-align: center;
}
.ks-bpc-des-rgt-btm-title{
	display: block;
	font-size: 1.4285em;
	line-height: 1;
	margin-bottom: 15px;
}

.ks-bpc-des-rgt-btm ul li{
	padding-left: 8px;
}
.ks-bpc-des-rgt-btm ul li a{
	display: inline-block;
	vertical-align: baseline;
	line-height: 1.2;
	color: #000;
	border-bottom: 1px solid #000;
}
.ks-bpc-des-rgt-btm ul li a:hover{
	color: #f2cdb0;
}


.ks-bpc-des-lft span{
	display: block;
	font-family: 'Palatino-Italic';
	margin-bottom: 10px;
}


.ks-blog-post-lftdes-rgtimg-sec-inr,
.ks-blog-post-lftimg-rgtdes-sec-inr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ks-blog-post-rgtimg{
	order: 1;
	width: 50%;
}
.ks-blog-post-lfrdes{
	order: 2;
	width: 50%;
	padding-right: 80px;
}
.ks-blog-post-rgtimg img,
.ks-blog-post-lftimg img{
	width: 100%;
}

.ks-blog-post-lfrdes p,
.ks-blog-post-rgt-des p{
	font-size: 1.4285em;
	margin-bottom: 0;
}
.ks-blog-post-rgt-des{
	order: 1;
	width: 50%;
	padding-right: 80px;
}
.ks-blog-post-lftimg{
	order: 2;
	width: 50%;
}
.ks-blog-post-lftimg-rgtdes-sec{
	padding-bottom: 30px;
}