.footer-wrp{
	background: #fff5eb;
	padding: 55px 0 40px;
}
.ftr-col h6{
	font-size: 1em;
	font-weight: 900;
	margin: 0 0 15px 0;
}
.ftr-cols{
	display: flex;

}
.ftr-col{
	width: 33.3333%;
}
.ftr-col ul{
	font-size: 14px;
	line-height: 1;
}
.ftr-col ul li{
	padding-bottom: 9px;
	padding-left: 20px;
}
.ftr-col ul li a{
	color: #000000;
	font-weight: 400;
}
.ftr-col ul li a:hover{
	opacity: .8;
}
.ftr-col ul{
	display: flex;
	flex-wrap: wrap;
}
.ftr-col ul li{
	width: 50%;
}

.ftr-newsletter-form{
	padding-top: 29px;
}
.ftr-newsletter-form form{
	position: relative;
}
.ftr-newsletter-form input{
	width: 100%;
	height: 25px;
	border-bottom: 1px solid #000;
	padding: 0 0 0 50px;
	background: transparent;
}
.ftr-newsletter-form input:focus,
.search-popup-form input:focus{
	border-color: #cc7856;
}



.ftr-newsletter-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 1;
}
.ftr-newsletter-form input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
.ftr-newsletter-form input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 1;
}
.ftr-newsletter-form input:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 1;
}

.ftr-newsletter-form button{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border: none;
	background: transparent;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 400;
	padding: 0 5px 0 0;
	cursor: pointer;
}
.ftr-newsletter-form button:hover{
	opacity: .8;
}
.copyright-text{
	padding: 30px 0 0 0;
}

.copyright-text p{
	font-size: 0.5714em;
	margin-bottom: 0;
}






@media(min-width: 1600px){

}
@media(min-width:1800px){

}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){


}

@media(max-width: 991px){

	
}

@media(max-width: 767px){
	.ftr-cols{
		display: block;
	}
	.ftr-col {
	    width: 100%;
	}
	.ftr-col ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.ftr-col-1,
	.ftr-col-2{
		text-align: center;
		margin-bottom: 30px;
	}
	footer .ftr-newsletter-form{
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.copyright-text{
		text-align: center!important;
	}
}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}