.header{
	padding: 55px 0 0;
}
.header-inr{
	position: relative;
	height: 70px;
	display: flex;
}

.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 0;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-menu{
	margin-left: auto;
	margin-top: auto;
	line-height: 1;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	font-size: 14px;

	display: inline-block;
	vertical-align: baseline;
	padding: 0 0 30px 65px;
}
nav.main-nav ul li a{
	color: #000000;
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{

}
nav.main-nav > ul > li > a{

}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
