.header{
	padding: 27px 0 0;
}
.header-inr{
	position: relative;
	height: 52px;
	display: flex;
}
.hdr-elements{
	margin-top: auto;
	padding-bottom: 8px;
	order: 1;
	margin-right: auto;
	direction: ltr;
}

.hdr-elements ul li{
	padding-right: 16px;
}
.hdr-elements ul li a,
.hdr-elements ul li{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-elements ul li a i{
	
	display: inline-block;
	vertical-align: baseline;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hdr-cart-item a{
	position: relative;
}
.hdr-cart-item a i{
	width: 25px;
	height: 19px;
	background: url(../images/cart-icon.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.hdr-cart-item a:hover i{
	background: url(../images/cart-icon-hover.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}


.hdr-wishlist-item a i{
	width: 17px;
	height: 15px;
	background: url(../images/wishlist-icon.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-bottom: 1px;
}
.hdr-wishlist-item a:hover i{
	background: url(../images/wishlist-icon-hover.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}



.hdr-search-item a i{
	width: 17px;
	height: 17px;
	background: url(../images/search-icon.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.hdr-search-item a:hover i{
	background: url(../images/search-icon-hover.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}




.hdr-cart-item a span {
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 0.7857em;
    font-style: initial;
    color: #000;
    font-family: 'Palatino';
    line-height: 1;
}


.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 0;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 214px;
}
.logo a img{
	width: 100%;
}
.hdr-menu{
	margin-left: auto;
	margin-top: auto;
	line-height: 1;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 0 15px 35px;
}
nav.main-nav ul li a{
	color: #000000;
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{

}
nav.main-nav > ul > li > a{
	font-size: 1em;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
nav.main-nav > ul > li > a:hover{
	color: #f2cdb0;
}

body.hdr-search-popup-active .hdr-search-popup{
	display: block;
}
body.hdr-search-popup-active{
	overflow: hidden;
}






.hdr-search-popup{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #fff5ea;
	z-index: 100;
	display: none;
}
.hdr-search-popup-inr{
	width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}
.close-icon{
	position: absolute;
	right: 40px;
	top: 30px;
	cursor: pointer;
	z-index: 120;
}
.close-icon i{
	display: inline-block;
	vertical-align: baseline;
}

.close-icon:hover{
	opacity: .8;
}

.search-popup-con{
	width: 100%;
}

.search-popup-con h2{
	font-size: 2.5em;
	font-family: 'Palatino-Italic';
	margin-bottom: 65px;
	text-align: center;
}
.search-popup-form{
	 
}
.search-popup-form form {
    position: relative;
}
.search-popup-form input {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #000;
    padding: 0 0 0 50px;
    background: transparent;
    text-align: right;
    direction: rtl;
}

.search-popup-form button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    line-height: 1.57;
    font-weight: 400;
    padding: 0 5px 0 0;
    cursor: pointer;
}
.search-popup-form button:hover{
	opacity: .8;
}

.search-popup-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.search-popup-form input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.search-popup-form input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.search-popup-form input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}




@media(min-width: 1600px){
	body {
		font-size: 20px;
	}

}
@media(min-width:1768px){
	body {
		font-size: 24px;
	}
	.hdr-cart-item a i {
	    width: 28px;
	    height: 22px;
	}
	.hdr-wishlist-item a i {
	    width: 20px;
	    height: 18px;
	}
	.hdr-search-item a i {
	    width: 20px;
	    height: 20px;
	}
	.logo{
		top: -6px;
	}
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){

}

@media(max-width: 991px){
	.logo a {
	    max-width: 180px;
	}
	.logo{
		top: 7px;
	}
	.search-popup-con h2 {
	    font-size: 2em;
	    margin-bottom: 40px;
	}
	.close-icon {
	    max-width: 20px;
	    top: 20px;
	}
	.close-icon svg{
		width: 100%!important;
		height: auto!important;
	}
}

@media(max-width: 767px){
	.line-icon {
	    cursor: pointer;
	    position: relative;
	    height: 23px;
	    max-width: 50px;
	    float: right;
	}
	.line-icon span {
	    height: 4px;
	    width: 35px;
	    background: #000;
	    display: block;
	    position: absolute;
	    transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.line-icon span:first-child {
	    width: 30px;
	    top: 0px;
	    right: 0px;
	}
	.line-icon span:nth-child(2) {
	    top: 9px;
	    right: 0px;
	}
	.line-icon span:nth-child(3) {
	    width: 20px;
	    top: 18px;
	    right: 0px;
	}
	.line-icon.active-collapse span:first-child {
	    width: 35px;
	}
	.line-icon.active-collapse span:nth-child(2) {
	    width: 30px;
	}
	.line-icon.active-collapse span:last-child {
	    width: 25px;
	}
	nav.main-nav.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	nav.main-nav {
	    position: fixed;
	    top: 0;
	    right: -250px;
	    bottom: 0;
	    background: #fff5eb;
	    color: #000;
	    font-size: 18px;
	    line-height: 20px;
	    max-width: 250px;
	    width: 100%;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	}
	nav.main-nav .closebtn-cntlr{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		min-height: 70px;
		background: #fff5eb;
		z-index: 120;
	}
	nav.main-nav .closebtn {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
	    clear: both;
	    max-width: 100%;
	    top: 20px;
	    right: 20px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	nav.main-nav .closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 4px;
	    width: 100%;
	    background: #000;
	    top: 13px;
	    display: block;
	}
	nav.main-nav .closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	nav.main-nav .closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}

	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}
	body.active-scroll-off {
	    overflow: hidden;
	}


	nav.main-nav .main-nav-inr {
	    padding: 70px 20px 25px 20px;
	}
	nav.main-nav ul li{
		width: 100%;
	}
	.main-nav-inr {
	    overflow-y: auto;
	    height: 100%;
	    position: relative;
	}


	/*extra*/
	.header-inr{
		align-items: center;
	}
	.logo{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
	.header{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.hdr-menu{
		margin-top: initial;
	}
}

@media(max-width: 575px){
	.search-popup-form input{
		font-size: .9em;
	}
	.header-inr{
		margin-top: 50px;
	}
	.logo {
	    top: -55px;
	    left: 50%;
	    transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	    -webkit-transform: translate(-50%, 0);
	}
	.header{
		padding-bottom: 10px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}