.header{
	padding: 55px 0 0;
}
.header-inr{
	position: relative;
	height: 72px;
	display: flex;
}
.hdr-elements{
	margin-top: auto;
	padding-bottom: 24px;
	order: 1;
	margin-right: auto;
	direction: ltr;
}

.hdr-elements ul li{
	padding-right: 16px;
}
.hdr-elements ul li a,
.hdr-elements ul li{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-elements ul li a i{
	
	display: inline-block;
	vertical-align: baseline;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hdr-cart-item a{
	position: relative;
}
.hdr-cart-item a i{
	width: 25px;
	height: 19px;
	background: url(../images/cart-icon.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.hdr-cart-item a:hover i{
	background: url(../images/cart-icon-hover.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}


.hdr-wishlist-item a i{
	width: 17px;
	height: 15px;
	background: url(../images/wishlist-icon.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-bottom: 1px;
}
.hdr-wishlist-item a:hover i{
	background: url(../images/wishlist-icon-hover.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}



.hdr-search-item a i{
	width: 17px;
	height: 17px;
	background: url(../images/search-icon.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.hdr-search-item a:hover i{
	background: url(../images/search-icon-hover.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}




.hdr-cart-item a span {
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 11px;
    font-style: initial;
    color: #000;
    font-family: 'Palatino';
    line-height: 1;
}


.logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 0;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-menu{
	margin-left: auto;
	margin-top: auto;
	line-height: 1;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	font-size: 14px;

	display: inline-block;
	vertical-align: baseline;
	padding: 0 0 30px 65px;
}
nav.main-nav ul li a{
	color: #000000;
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{

}
nav.main-nav > ul > li > a{

}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}


.hdr-search-popup{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #fff5ea;
	z-index: 100;
	overflow-y: auto;
	display: none;
}