.home-banner{
	min-height: 600px;
}


.krushbox-fea-quick-sec{
	padding: 30px 0;
}
.krushbox-fea-quick-sec-inr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.krushbox-fea-quick-des{
	width:  33.8624%;
	order: 1;
	padding-left: 20px;
	text-align: center;
}
.krushbox-fea-quick-img{
	width:  66.1375%;
	order: 2;
}

.kfqd-title{
	display: block;
	font-size: 35px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 400;
}

.krushbox-fea-quick-des a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	border-bottom: 1px solid #000;
	line-height: 1;
}



.ks-grd-sec-inr ul{
	margin-left: -8px;
	margin-right: -8px;
}
.ks-grd-sec-inr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 8px;
	padding-right: 8px;
}
.ks-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}

/*.ks-grd-item:hover .ks-grd-item-img{
	opacity: 0.75;
}*/

.ks-about-sec{
	padding: 50px 0;
}

.ks-about-sec-inr{
	text-align: center;
}
.ks-about-sec-inr p{
	font-size: 20px;
	margin-bottom: 10px;
}
.ks-about-sec-inr a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	border-bottom: 1px solid #000;
}