.home-page-banner img,
.krushbox-fea-quick-img img,
.ks-grd-item-img img{
	width: 100%;
}


.krushbox-fea-quick-sec{
	padding: 30px 0;
}
.krushbox-fea-quick-sec-inr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.krushbox-fea-quick-des{
	width:  33.8624%;
	order: 1;
	padding-left: 20px;
	text-align: center;
}
.krushbox-fea-quick-img{
	width:  66.1375%;
	order: 2;
}

.kfqd-title{
	display: block;
	font-size: 2.5em;
	line-height: 1;
	margin-bottom: 10px;
	font-family: 'Palatino-Italic';
}

.krushbox-fea-quick-des p{
	margin-bottom: 20px;
}
.krushbox-fea-quick-des a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	text-decoration: underline;
	line-height: 1;
}



.ks-grd-sec-inr ul{
	margin-left: -7px;
	margin-right: -7px;
}
.ks-grd-sec-inr ul li{
	float: right;
	width: 33.3333%;
	padding-left: 7px;
	padding-right: 7px;
}
.ks-grd-item{
	position: relative;
}
.ks-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.ks-grd-item-des{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 12px;
	background: #eee;
	opacity: 0.75;
	visibility: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
}


.ks-grd-item-des-top span{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 10px;
}
.ks-gidb-venus{
	float: right;
}
.ks-gidb-price{
	float: left;
}

.ks-gidb-venus strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 1.1428em;
	font-family: 'Palatino-BoldItalic';
	margin-left: 4px;
}
.woocommerce-Price-amount bdi{
	font-size: 0.8571em;
}
.woocommerce-Price-amount bdi span{
	margin-right: 8px;
}
.woocommerce-Price-amount bdi span del{
	text-decoration-line: line-through;
	-webkit-text-decoration-line: line-through;
	-ms-text-decoration-line: line-through;
	text-decoration-color: red;
}

.ks-grd-item-des-btm{
	position: absolute;
	bottom: 10px;
	left: 12px;
	right: 10px;
}
.ks-grd-item:hover .ks-grd-item-des{
	visibility: visible;
}
/*.ks-grd-item:hover .ks-grd-item-img{
	opacity: 0.75;
}*/

.ks-about-sec{
	padding: 50px 0;
}

.ks-about-sec-inr{
	text-align: center;
}
.ks-about-sec-inr p{
	font-size: 1.4285em;
	margin-bottom: 10px;
}
.ks-about-sec-inr a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	text-decoration: underline;
}