.ftws-modal-cntlr .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
}
.ftws-modal-cntlr{
	padding-left: 0!important;
	padding-right: 0!important;
}
.ftws-modal-cntlr .modal-dialog{
	max-width: 100%!important;
	padding-left: 10px!important;
	padding-right: 10px!important;
	margin-left: 0!important;
	margin-right: 0!important;
}
.ftws-modal-cntlr .modal-body{
	padding: 0;
}
.ftws-modal-con{
	max-width: 462px;
	width: 100%;
	height: 462px;
	background: #fff5ea;
	border-radius: 100% 100%;
	display: flex;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.close.modal-close{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 20;
	width: 12px;
	height: 12px;
}
.ftws-modal-con-1 .close.modal-close{
	left: 50%;
	right: auto;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 5px;
	margin-right: 20px;
}
.ftws-modal-con button.close.modal-close span {
	display: block;
	line-height: 0;
}
.ftws-modal-con button.close.modal-close span img{
	width: 100%;
	height: 100%;
}
.ftws-modal-con-2{
	border-radius: 0!important;
	max-width: 580px;
	width: 100%;
	height: 353px;
}

.ftws-modal-con-des{
	width: 50%;
	display: flex;
	align-items: center;
	height: 100%;
}

.ftws-modal-con-img{
	width: 50%;
	height: 100%;
}

.ftws-modal-con-img div{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat!important;
	background-size: cover!important;
}
.ftws-modal-con-des > div{
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
}
.ftws-modal-con-des > div p{
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 1.5;
	color: #000;
	font-weight: 600;
}
.modal-btns{
	width: 100%;
	font-size: 14px;
	padding-top: 50px;
}

.modal-btns button{
	background: transparent;
	text-decoration: underline;
	font-weight: 700;
	cursor: pointer;
}

.modal-btns label{
	font-weight: 700;
}



@media(max-width: 767px){

}

@media(max-width: 575px){
	.ftws-modal-con {
	    max-width: 400px;
	    height: 400px;
	}

}

@media(max-width: 479px){
	.ftws-modal-con {
	    max-width: 280px;
	    height: 280px;
	}
	.ftws-modal-con-des > div{
		padding-right: 10px;
	}
	.ftws-modal-con-des > div p{
		margin-bottom: 10px;
	}
	.ftws-modal-con-des > div p br{
		display: none;
	}
	.ftws-modal-con-des > div{
		padding-right: 20px;
	}
	.ftws-modal-con-des > div p{
		font-size: 12px;
	}
	.modal-btns {
	    font-size: 12px;
	    padding-top: 4px;
	}

}

@media(max-width: 359px){

}