.product-page-cntlr{
	padding: 0 0 30px;
}
.product-page-grds-cntlr{
	padding-bottom: 30px;
	padding-top: 35px;
	position: relative;
}
.product-page-grd-lft {
    width: 50%;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: auto;
}
.product-page-grd-rgt{
	width: 50%;
}

.fl-product-summery-hdr{
	padding-top: 65px;
	text-align: center;
	padding-bottom: 40px;
}

.fl-product-summery-hdr .product_title{
	font-size: 3.5714em;
	line-height: 1;
	margin-bottom: 10px;
	 font-family: 'Palatino-BoldItalic';
}

.fl-product-summery-hdr strong{
	display: block;
	font-size: 1em;
	margin-bottom: 12px;
}

.fl-product-summery{
	max-width: 315px;
	width: 100%;
}

.product-page-grd-lft .woocommerce-tabs{
	padding-bottom: 150px;
}
.fl-product-summery-tumbnail-item{
	text-align: center;
}

.fl-product-summery-tumbnails ul li{
	padding-bottom: 130px;
}

.fl-product-summery-tumbnail-item span{
	display: block;
	margin-bottom: 20px;
}

.fl-product-summery-tumbnails ul li:last-child{
	padding-bottom: 0;
}
.woocommerce span.onsale {
	display: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: transparent;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 0;
    margin: 0;
    padding: 0 18px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: 5px 0;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    border-color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child{
	padding-right: 0;
}
body.single-product .quantity {
    display: none;
}
.single-product .split .left {
    /* height: 90vh; */
    position: fixed;
    bottom: 0;
    top: 0;
    width: 50%;
    right: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: block;
}
.single-product .split .left .slideshow {
    left: 0;
    /* bottom: 0; */
    top: 0;
    max-height: 100vh !important;
    /* overflow: hidden; */
    /* margin-top: -75px; */
    margin-top: 0;
    position: relative;
}
.single-product .left .slideshow img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0;
    -webkit-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.single-product .left .slideshow img.main-image {
    opacity: 0;
}
.single-product .left .slideshow img.fadeIn {
    opacity: 1 !important;
}
.single-product .left .slideshow img.new-image {
    opacity: 0;
    max-width: 50%;
    position: fixed;
    top: 0;
    right: 0;
}
body.single-product .ks-grd-sec{
	padding-top: 40px;
}
body.single-product.woo-variation-swatches.wvs-show-label form.variations_form .variations td{
	display: table-cell;
	padding: 5px 0;
}
body.single-product.woo-variation-swatches form.variations_form .variable-items-wrapper{
	justify-content: flex-end;
}
body.single-product.woo-variation-swatches form.variations_form .variable-items-wrapper .variable-item:not(.radio-variable-item):last-of-type,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item){
	margin-right: 15px!important;
}
body.single-product form.variations_form td.value.woo-variation-items-wrapper{
	text-align: left;
}
body.woocommerce div.product form.cart .variations td.label{
	padding-right: 0;
}
body.woocommerce div.product form.cart .variations td.label label,
body.woocommerce div.product form.cart .variations td.label span{
	line-height: 1;
	vertical-align: top;
}
.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item){
	border-bottom: 1px solid transparent!important;
}
.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item span{
	padding: 0!important;
}
.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item){
	border-radius: 0!important;
	box-shadow: none!important;
	padding: 0!important;
	height: auto!important;
	width: auto!important;
	line-height: 1.5;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover,
.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item.selected,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected{
	border-color: #000!important;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item .variable-item-span-color {
    height: 14px!important;
    width: 14px!important;
    border-radius: 100%!important;
    margin: 2px 0;
}
.woocommerce div.product form.cart .reset_variations{
	color: #000;
}

/**
cart buttons
*/
.single_variation_wrap .woocommerce-variation-add-to-cart,
.fl-product-summery-con form.cart{
	position: relative;
}
.single_variation_wrap div.quantity{
	display: none;
}
.single_variation_wrap span.controll-wishlist,
.fl-product-summery-con form.cart span.controll-wishlist{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
    background: #f2caab!important;
}
.single_variation_wrap span.controll-wishlist i,
.fl-product-summery-con form.cart span.controll-wishlist{
	line-height: 40px;
	font-size: 20px;
}
.single_variation_wrap span.controll-wishlist *,
.fl-product-summery-con form.cart span.controll-wishlist *{
	margin: 0;
}
.single_variation_wrap span.controll-wishlist .yith-wcwl-add-to-wishlist{}
.single_variation_wrap .woocommerce-variation-add-to-cart{
	padding-left: 50px;
	display: flex;
}
.single_variation_wrap button.single_add_to_cart_button,
.fl-product-summery-con form.cart button.single_add_to_cart_button{
    height: 40px;
    line-height: 40px;
    background: #f2caab!important;
    border-radius: 0;
    border: 0;
    outline: 0;
    width: calc(100% - 50px);
    padding: 0!important;
    color: #000!important;
    float: right!important;
}
.single_variation_wrap span.controll-wishlist .feedback{
	text-indent: -9999px;
}
.single_variation_wrap span.controll-wishlist .feedback i{
	text-indent: 9999px;
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.fl-product-summery-hdr {
	    padding-top: 36px;
	    padding-bottom: 35px;
	}
	.fl-product-summery-con {
	    padding-bottom: 100px;
	}
	.fl-product-summery-tumbnails ul li {
	    padding-bottom: 100px;
	}
	.fl-product-summery-tumbnail-item span{
		max-width: 180px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 991px){
	.fl-product-summery-tumbnails ul li {
	    padding-bottom: 70px;
	}
	.fl-product-summery-tumbnail-item span {
	    max-width: 120px;
	}
	.product-page-grd-lft {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.fl-product-summery-tumbnail-item span {
	    margin-bottom: 10px;
	}
	.fl-product-summery-hdr .product_title {
	    font-size: 3em;
	}
	.fl-product-summery-con {
	    padding-bottom: 70px;
	}
}

@media(max-width: 767px){
	.product-page-grds-cntlr{
		display: block;
	}
	.product-page-grd-lft,
	.product-page-grd-rgt{
		width: 100%;
	}
	.fl-product-summery {
	    margin-left: auto;
	    margin-right: auto;
	}
}

@media(max-width: 575px){
	
	.fl-product-summery-hdr .product_title {
	    font-size: 2.5em;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}