.ks-pro-grd-sec{
	padding-bottom: 30px;
}

.ks-pro-grd-entry-hdr{
	display: block;
}
.ks-pgeh-title{
	display: block;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 20px;
}

.ks-pro-top-grd ul{
	margin-left: -7px;
	margin-right: -7px;
}
.ks-pro-top-grd ul li{
	float: right;
	width: 50%;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 15px;
}


.ks-pro-top-grd-item-des{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff5ea;
}
.ks-ptgid-title{
	display: block;
	font-size: 4.2857em;
	line-height: 1;
	margin-bottom: 0;
}
.ks-pro-top-grd-item-img img,
.ks-pro-btm-grd-item-img img{
	width: 100%;
}

.ks-pro-btm-grd ul{
	margin-left: -8px;
	margin-right: -8px;
}
.ks-pro-btm-grd ul li{
	float: right;
	width: 33.3333%!important;
	padding-left: 8px!important;
	padding-right: 8px!important;
	padding-bottom: 16px!important;
	margin: 0!important;
}
.ks-pro-btm-grd ul li:nth-child(3n+1){
	clear: right;
}

.ks-pro-btm-grd-item{
	position: relative;
}


.ks-pro-btm-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}


.ks-pro-btm-grd-item-des{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 12px;
	background: #eee;
	opacity: 0.75;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transform: scale(0,1);
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	visibility: hidden;
}

.ks-pro-btm-grd-item:hover .ks-pro-btm-grd-item-des{
	visibility: visible;
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
}

.ks-grd-item-des-top{
	display: flex;
	align-items: center;
}
.ks-gidt-rgt{
	margin-right: auto;
}


.ks-pro-grd-link{
	text-align: center;
}
.ks-pro-grd-link a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	line-height: 1.2;
	border-bottom: 1px solid #000;
}
.ks-pro-grd-link a:hover{
	color: #f2cdb0;
}

ul.woocommerce-widget-layered-nav-list .count {
    display: none;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {
    display: inline-block;
    margin-right: 14px;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a .attribute-type{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a{
	position: relative;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: 0;
    content: "";
    width: 100%;
    color: #a00;
    height: 1px;
    background: #000
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ks-ptgid-title{
		font-size: 4em;
	}
	
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.ks-ptgid-title{
		font-size: 3.5714em;
	}
	.ks-pro-top-grd ul{
		margin-left: 0;
		margin-right: 0;
	}
	.ks-pro-top-grd ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	
	.ks-pro-btm-grd ul li{
		width: 50%;
	}
	.ks-pro-btm-grd ul li:nth-child(3n+1) {
	    clear: none;
	}
	.ks-pro-btm-grd ul li:nth-child(2n+1) {
	    clear: right;
	}
	.ks-pro-top-grd-item-des{
		padding: 30px 20px; 
		min-height: 300px;
	}
	.ks-pro-btm-grd-item-des,
	.ks-grd-item-des{
		position: static;
		opacity: 1;
		transition: none;
		transform: scale(1,1);
		visibility: visible;
		padding-bottom: 10px;
	}
	.ks-grd-item-des-btm{
		position: static;
	}

	
}

@media(max-width: 639){

}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ks-ptgid-title{
		font-size: 3.2142em;
	}
	.ks-pro-btm-grd ul{
		margin-left: 0;
		margin-right: 0;
	}
	.ks-pro-btm-grd ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}