








.thubnail-grd-img-mdul-cntlr{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
	margin-bottom: 16px;

}
.thubnail-grd-big-img-col{
	order: 2;
	width: 66.66%;
	padding: 0 8px;
	height: 855px;
}

.thubnail-grd-big-img{
	height: 100%;
	width: 100%;
}
.thubnail-grd-small-col{
	padding: 0 8px;
	margin: -8px 0;
	width: 33.33%;
	order: 1;
}
.thubnail-grd-big-img-lft .thubnail-grd-big-img-col{
	order: 1;
}
.thubnail-grd-big-img-lft .thubnail-grd-small-col{
	order: 2;
}
.thubnail-grd-small-img-cntlr{
	padding: 8px 0;
	height: 50%;
}
.thubnail-grd-small-img{
	height: 100%;
	width: 100%;
}
.thubnail-grd-small-img img{
	display: none;
	width: 100%;
}
.thubnail-grd-big-img img{
	display: none;
	width: 100%;
}
.two-grd-img-mdul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
	margin-bottom: 16px;
}
.two-grd-img-col{
	padding: 0 8px;
	width: 50%;
}
.two-grd-img-col img{
	width: 100%;
}

.three-gdr-mdul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
	margin-bottom: 16px;
}
.three-gdr-col{
	width: 33.33%;
	padding: 0 8px;
}
.three-gdr-col img{
	width: 100%;
}
.three-gdr-col-desc-cntlr{
	padding: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.three-gdr-col-desc{
	
	text-align: center;
}
.three-gdr-col-desc-title{
	font-family: 'Palatino-Roman';
	font-size: 2.5em;
	line-height: 1.06;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.three-gdr-col-desc-title span{
	display: block;
	margin-top: 15px;
}
.three-gdr-col-desc-sub-title{
	font-family: 'Palatino-Italic';
	font-size: 2.5em;
	line-height: 1.06;
	margin-bottom: 26px;
}



@media(min-width: 1600px){
	
}
@media(min-width: 1768px){
	
}

@media(max-width: 1600px){
	.thubnail-grd-big-img-col{
		height: 800px;
	}
}
@media(max-width: 1499px){
	.thubnail-grd-big-img-col{
		height: 750px;
	}
}
@media(max-width: 1299px){
	.thubnail-grd-big-img-col{
		height: 700px;
	}
}
@media(max-width: 1199px){
	.thubnail-grd-big-img-col{
		height: 650px;
	}
}
@media(max-width: 991px){
	.thubnail-grd-big-img-col{
		width: 60%;

	}
	.thubnail-grd-small-col{
		width: 40%;
	}
	.three-gdr-col-desc-title{
		font-size: 2.2em;
	}
	.three-gdr-col-desc-sub-title{
		font-size: 2.3em;

	}
}
@media(max-width: 767px){
	.thubnail-grd-img-mdul-cntlr{
		display: block;
	
	}
	.thubnail-grd-big-img-col{
		width: 100%;
		margin-bottom: 16px;
		height: initial;
	}
	.thubnail-grd-small-col{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
	}
	.thubnail-grd-small-img{
		background: transparent;
	}
	.thubnail-grd-big-img{
		background: transparent;
	}
	.thubnail-grd-small-img img{
		display: block;
		width: 100%;
	}
	.thubnail-grd-big-img img{
		display: block;
		width: 100%;
	}
	.thubnail-grd-small-img-cntlr{
		padding: 0 8px;
		height: initial;
		width: 50%;
	}
	.three-gdr-col-desc-title{
		font-size: 2em;
	}
	.three-gdr-col-desc-sub-title{
		font-size: 2.1em;
		
	}
	.three-gdr-mdul{
		margin-bottom: 0;
	}
	.two-grd-img-mdul{
		margin-bottom: 0;
	}
	.two-grd-img-col{
		width: 100%;
		margin-bottom: 16px;
	}
	.three-gdr-col{
		width: 100%;
		margin-bottom: 16px;
	}

	.thubnail-grd-small-desc .three-gdr-col-desc .three-gdr-col-desc-title{
		font-size: 1.8em;
		margin-bottom: 15px;
	}
	.thubnail-grd-small-desc .three-gdr-col-desc .three-gdr-col-desc-title span{
		margin-top: 10px;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.three-gdr-col-desc-title{
		font-size: 1.8em;
		margin-bottom: 15px;
	}
	.three-gdr-col-desc-title span{
		margin-top: 10px;
	}
	.three-gdr-col-desc-sub-title{
		font-size: 2em;
		
	}
	.thubnail-grd-small-img-cntlr{
		width: 100%;
		margin-bottom: 16px;
	}
	.thubnail-grd-img-mdul-cntlr{
		margin-bottom: 0;
	
	}
	.thubnail-grd-small-desc{
		padding: 15px 0;
	}
	
}