

.ks-pro-grd-entry-hdr{
	display: block;
	margin-bottom: 20px;
}

.ks-pro-top-grd ul{
	margin-left: -7px;
	margin-right: -7px;
}
.ks-pro-top-grd ul li{
	float: right;
	width: 50%;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 15px;
}


.ks-pro-top-grd-item-des{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff5ea;
}
.ks-ptgid-title{
	display: block;
	font-size: 4.2857em;
	line-height: 1;
	margin-bottom: 0;
}
.ks-pro-top-grd-item-img img{
	width: 100%;
}