@font-face {
    font-family: 'Palatino';
    src: url('Palatino/Palatino.eot');
    src: url('Palatino/Palatino.eot?#iefix') format('embedded-opentype'),
        url('Palatino/Palatino.woff2') format('woff2'),
        url('Palatino/Palatino.woff') format('woff'),
        url('Palatino/Palatino.ttf') format('truetype'),
        url('Palatino/Palatino.svg#Palatino') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Palatino-Roman';
    src: url('Palatino-Roman/Palatino-Roman.eot');
    src: url('Palatino-Roman/Palatino-Roman.eot?#iefix') format('embedded-opentype'),
        url('Palatino-Roman/Palatino-Roman.woff2') format('woff2'),
        url('Palatino-Roman/Palatino-Roman.woff') format('woff'),
        url('Palatino-Roman/Palatino-Roman.ttf') format('truetype'),
        url('Palatino-Roman/Palatino-Roman.svg#Palatino-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Simpler';
    src: url('Simpler-Regular/Simpler-Regular.eot');
    src: url('Simpler-Regular/Simpler-Regular.eot?#iefix') format('embedded-opentype'),
        url('Simpler-Regular/Simpler-Regular.woff2') format('woff2'),
        url('Simpler-Regular/Simpler-Regular.woff') format('woff'),
        url('Simpler-Regular/Simpler-Regular.ttf') format('truetype'),
        url('Simpler-Regular/Simpler-Regular.svg#Simpler-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



