@font-face {
    font-family: 'Palatino';
    src: url('Palatino/Palatino.eot');
    src: url('Palatino/Palatino.eot?#iefix') format('embedded-opentype'),
        url('Palatino/Palatino.woff2') format('woff2'),
        url('Palatino/Palatino.woff') format('woff'),
        url('Palatino/Palatino.ttf') format('truetype'),
        url('Palatino/Palatino.svg#Palatino') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}